.nav-bar {
    color: #6F2232;
    justify-content: center;
}

.navbar-brand {
    color: white;
    text-decoration: none;
}

.navbar-link:hover {
    color: red;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding-right: 10%
}

.navbar-link:hover {
    color: red;
}